# ============================================================
# LLM
# ============================================================

LLM_API_URL=http://<host_llm>:<puerto>
LLM_API_KEY=<api_key>
LLM_MODEL=gpt-oss:20b


# ============================================================
# RAG
# ============================================================

QDRANT_URL=http://localhost:6333
EMBEDDING_MODEL=intfloat/multilingual-e5-large


# ============================================================
# DATABASE
# ============================================================

DATABASE_URL=postgresql://tfm:tfm123@localhost:5432/tfm_db


# ============================================================
# EMAIL
# ============================================================

MAIL_USERNAME=<email>
MAIL_PASSWORD=<application_password>
MAIL_FROM=<email>
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587


# ============================================================
# FRONTEND
# ============================================================

FRONTEND_URL=http://localhost:4200